<style>

  .bg-footer-orange {
  background-color: #f4a261; /* orange doux du thème */
}

</style>

<footer class="bg-footer-orange text-center text-dark py-2 small mt-auto">
  <div class="container d-flex justify-content-center gap-4">
    <%= link_to "Conditions d’utilisation", "#", class: "text-dark text-decoration-none" %>
    <%= link_to "RGPD", "#", class: "text-dark text-decoration-none" %>
    <%= link_to "About_us", "#", class: "text-dark text-decoration-none" %>
  </div>
</footer>
