<h1> Mon panier </h1>

<%if @cart.cart_items.any? %>
<ul>
 <% @cart.cart_items.each do |cart_item| %>
  <li>
  <strong><%= cart_item.item.title %></strong><br>
  <%= image_tag cart_item.item.image_url %>
  <%= cart_item.item.description.truncate(100) %><br>
  <%= number_to_currency(cart_item.item.price, unit:  "€") %>
  </li>
  <hr>
  <% end %>
</ul>
<% else %>
<p> Ton panier est vide pour le moment </p>
<% end %>