<!-- frame: user_profile -->
<div class="frame profil-uti-7368fbce90ef">
  <!-- group: Onglets_info -->
  <div class="group ongletsin-7368fbce90f1">
    <!-- group: purshased_items -->
    <div class="group historique-7368fbce90f7">
      <!-- rect: Rectangle -->
      <div class="shape rect rectangle-7368fbce90f9"></div>
      <!-- text: purshased_items -->
      <div class="shape text historique-7368fbce90fa">
        <div
          class="text-node-html"
          id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce90fa"
          data-x="5663"
          data-y="5032"
        >
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                  >Historique d&#x27;achat</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- group: Body_Profil -->
    <div class="group body-profi-7368fbce90f8">
      <!-- group: Body -->
      <div class="group body-7368fbce90fb">
        <!-- rect: Change password -->
        <div class="shape rect changer-le-7368fbce90fe"></div>
        <!-- text: Change password -->
        <div class="shape text changer-le-7368fbce90ff">
          <div
            class="text-node-html"
            id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce90ff"
            data-x="6195"
            data-y="5534"
          >
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto">
                  <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Changer mot de Passe</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- rect: Modifie Profil -->
        <div class="shape rect modifier-p-7368fbce9100"></div>
        <!-- text: Modifie Profil -->
        <div class="shape text modifier-p-7368fbce9101">
          <div
            class="text-node-html"
            id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9101"
            data-x="5853"
            data-y="5536"
          >
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                  <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Modifier Profil</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- rect: inscription date -->
        <div class="shape rect date-dins-7368fbce9102"></div>
        <!-- text: inscription date -->
        <div class="shape text date-dins-7368fbce9103">
          <div
            class="text-node-html"
            id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9103"
            data-x="6378"
            data-y="5350"
          >
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                  <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Date d&#x27;inscription</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- rect: Téléphone -->
        <div class="shape rect tlphone-7368fbce9104"></div>
        <!-- text: Téléphone -->
        <div class="shape text tlphone-7368fbce9105">
          <div
            class="text-node-html"
            id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9105"
            data-x="5653"
            data-y="5345"
          >
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                  <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Téléphone</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- rect: email -->
        <div class="shape rect email-7368fbce9106"></div>
        <!-- text: Email -->
        <div class="shape text email-7368fbce9107">
          <div
            class="text-node-html"
            id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9107"
            data-x="6383"
            data-y="5172"
          >
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                  <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Email</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- rect: Prénom et Nom -->
        <div class="shape rect prnom-et-7368fbce9108"></div>
        <!-- text: Prénom et Nom
 -->
        <div class="shape text prnom-et-7368fbce9109">
          <div
            class="text-node-html"
            id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9109"
            data-x="5577"
            data-y="5168"
          >
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                  <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                    >Prénom et Nom</span
                  >
                </p>
                <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr">
                  <span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- rect: Rectangle -->
      <div class="shape rect rectangle-7368fbce90fc"></div>
      <!-- text: Profil -->
      <div class="shape text profil-7368fbce90fd">
        <div
          class="text-node-html"
          id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce90fd"
          data-x="5450"
          data-y="5031"
        >
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Profil</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- group: Profil_bar -->
  <div class="group profilbar-7368fbce90f2">
    <!-- rect: Rectangle -->
    <div class="shape rect rectangle-7368fbce910a"></div>
    <!-- text: Pseudo -->
    <div class="shape text pseudo-7368fbce910b">
      <div
        class="text-node-html"
        id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce910b"
        data-x="5986"
        data-y="4901"
      >
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
              <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Pseudo</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- group: btn_back_home -->
    <div class="group btnbackh-7368fbce90f0">
      <!-- rect: Rectangle -->
      <div class="shape rect rectangle-7368fbce90f5"></div>
      <!-- text: return
 -->
      <div class="shape text retour-l-7368fbce90f6">
        <div
          class="text-node-html"
          id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce90f6"
          data-x="5401"
          data-y="4701"
        >
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                  >Retour à l&#x27;accueil</span
                >
              </p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr">
                <span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rect: image -->
  <div class="shape rect image-7368fbce90f3"></div>
  <!-- frame: Footer_master -->
  <div class="frame footermas-7368fbce90f4">
    <!-- group: Footer -->
    <div class="footer-7368fbce910c-wrapper">
      <div class="group footer-7368fbce910c">
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-7368fbce910d"></div>
        <!-- frame: Board -->
        <div class="frame board-7368fbce910e">
          <!-- text: Conditions d'utilisateurs -->
          <div class="conditions-7368fbce9111-wrapper">
            <div class="shape text conditions-7368fbce9111">
              <div
                class="text-node-html"
                id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9111"
                data-x="5945.646718252789"
                data-y="5659.541692543615"
              >
                <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                  <div class="paragraph-set root-0-paragraph-set-0">
                    <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                      <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                        >Conditions d&#x27;utilisateurs</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- text: RGPD -->
          <div class="r-g-p-d-7368fbce9110-wrapper">
            <div class="shape text r-g-p-d-7368fbce9110">
              <div
                class="text-node-html"
                id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce9110"
                data-x="6109.004410582749"
                data-y="5659.611446467243"
              >
                <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                  <div class="paragraph-set root-0-paragraph-set-0">
                    <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                      <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">RGPD</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- text: About_us -->
          <div class="aboutus-7368fbce910f-wrapper">
            <div class="shape text aboutus-7368fbce910f">
              <div
                class="text-node-html"
                id="html-text-node-8ee7ce2e-71aa-801b-8006-7368fbce910f"
                data-x="6184.3622151903855"
                data-y="5659.660688720591"
              >
                <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
                  <div class="paragraph-set root-0-paragraph-set-0">
                    <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr">
                      <span class="text-node root-0-paragraph-set-0-paragraph-0-text-0"
                        >About_us</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
